.exit-intent-popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lighten(#000000, 50);
  display: none;

  &.show {
    display: flex;
  }

  // Exit Intent Popup Close Button
  .e-i-close-cta {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(45deg);
    cursor: pointer;

    @include media($medium) {
      width: 2.5rem;
      height: 2.5rem;
      top: 2rem;
      right: 2rem;
    }

    &:after {
      content: "";
      width: 0.2rem;
      height: 100%;
      background-color: $black;
      position: absolute;
      border-radius: 0.3rem;
      @include media($medium) {
        width: 0.3rem;
      }
    }
    &:before {
      content: "";
      width: 100%;
      height: 0.2rem;
      background-color: $black;
      position: absolute;
      border-radius: 0.3rem;
      @include media($medium) {
        height: 0.3rem;
      }
    }
  }

  // Exit Intent Popup Content
  .e-i-pop-content {
    position: relative;
    width: calc(100% - 3rem);
    background-color: $primary-color;

    @include media($medium) {
      max-width: 96rem;
    }

    // Exit Intent Popup Form
    .e-i-form-box {
      padding: 4rem 1.5rem 3rem 1.5rem;

      @include media($medium) {
        padding: 6rem 3rem 4rem 6rem;
        width: 60%;
      }

      .e-i-title {
        width: 100%;
        h3 {
          text-align: center;
          text-transform: uppercase;
          span {
            display: block;
            font-weight: 300;
          }
        }
      }

      .e-i-form {
        width: 100%;
        .e-i-form-field {
          width: 100%;
          margin-top: 1rem;
          @include media($medium) {
            margin-top: 1.5rem;
          }
          &:first-child {
            margin-top: 0;
          }
          .e-i-form-text-field {
            width: 100%;
            height: 3.8rem;
            outline: 0;
            border: 0.1rem solid lighten($black, 65);
            border-radius: 0.3rem;
            font-size: 1.4rem;
            font-family: $regular;
            @include media($medium) {
              height: 7rem;
              font-size: 1.8rem;
            }
            &.error {
              border-color: red;
            }
          }
          .e-i-form-checkbox {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.5rem;
            @include media($medium) {
              width: 2.2rem;
              height: 2.2rem;
            }

            &.error {
              outline: 0.1rem solid red;
            }
          }
        }
        .e-i-form-footer {
          width: 100%;
          margin-top: 2rem;

          input[type="submit"] {
            width: 100%;
            max-width: 100%;
            font-size: 1.4rem;
            @include media($medium) {
              height: 7rem;
              font-size: 2rem;
            }
          }
          .eiLink {
            text-transform: uppercase;
            @include link;
            margin-top: 2rem;
            @include media($medium) {
              margin-top: 0;
            }
          }
        }
      }
    }

    // Exit Intent Popup Christmas Sale Banner Image
    .e-i-banner-img {
      display: none;
      @include media($medium) {
        width: 40%;
        display: flex;
      }
    }
  }
}
